@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


.App {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
