@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Sour Gummy", "Gamja Flower", serif;
    font-optical-sizing: auto;
}
.App {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
